h1{
    text-align: center;
    color: white
}
body {
    background-color: maroon;
}
h3{
    text-align: center;
    color: white;
}
li{
    color: white;
}
#box {
    border: 1px solid black;
    padding: 5px;
    background-color: tan;
}