#hw{
    margin-top: 25px;
    margin-right: 500px;
    margin-left: 500px;
    border: 5px dashed black;
    text-align: center;
}
#home{
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
    border: 2px dashed black;
    text-align: center;
}
#work{
    margin-top: 25px;
}
#repo{
    text-align: center;
    margin-top: 25px;
}
#blog{
    text-align: center;
    padding: 50px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border: 10px double yellow;
    background-color: black;
    color: white;
}
#Intro{
    border: 10px double white;
    padding: 50px;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: yellow;
}
#Words{
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}
img{
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px
}
#pic{
    margin-right: 25px;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#fit{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}
#closing{
    text-align: center;
}
#sign{
    text-align: center;
    font-family: "Brush Script MT";
}