
@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="center">
            <h2>Internet Language Translator</h2>
            <br />
            <input type="text" name="words" placeholder="What would you like to translate?" />
        </div>
    </div>
</div>
