
@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="center" id="home">
            <h2>Internet Language Translator</h2>
            <br />
            <input type="text" name="words" id="words" placeholder="Start typing what you would like to translate here..." />
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/sentenceCreator.js"></script>
}