@{
    ViewBag.Title = "Home Page";
    ViewBag.Home = "active";
}

<div id="Intro" class="center">
    <h1 style="font:x-large">Campus Apartments</h1>
    <br />
    <p class="lead">
        The Campus Apartments is a wonderful complex to live it. We have cheap housing for students who
        need a place to live close to campus. We are only a 5 min walk away from the main building on campus.
        We make it easy to submit a maintenance request. We are still in the process of implementing this, 
        but by the time you move in we will have it DONE. :)
    </p>
</div>