#Title{
    margin-top: 25px;
    background-color: lightblue;
    border: double 5px black;
    text-align: center;
    padding: 15px;
}
#text{
    margin-top: 15px;
    background-color: lightblue;
    border: solid 5px black;
    text-align: center;
    padding: 10px;
}
#func{
    margin-top: 25px;
    background-color: lightblue;
    border: solid 5px black;
    padding: 10px;
}
