@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="title">
    <h1>Homework 4</h1>
    <p class="lead">The assignment for Week 4 of CS 460. We are making some "simple" forms (with complicated logic), and learning the basics 
    of GET, POST (what?), Query strings, form data, and handling it all from an ASP.NET MVC 5 application (Jeez... that's a lot. Wish me Luck!).</p>
    <p><a href="http://www.wou.edu/~morses/classes/cs46x/assignments/HW4_1819.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
           Here is a good place to figure out how many millimeters are in your drive to work everyday! All you gotta do 
            is click the button below and you're good to learn all about converting miles into something in the metric system. (
            You know, millimeters, centimeters, meters, kilometers, etc.)
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865">Check it Out &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>Want to know what Blue and Green mixed would look like? Well, here is the place to find out. All you gotta do 
        is know what the colors are in Hexidecimals (You know, AAAAAA, F567DE, etc. Good luck finding that...) and the color chooser
        will do the rest for you!</p>
        <p><a class="btn btn-primary btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301866">Try it Out &raquo;</a></p>
    </div>
</div>