

@{
    ViewBag.Title = "Home Page";
}

<div class="center" style="font-family: Georgia, serif;">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
</div>

<div class="center">
    <a class="btn btn-primary" @Html.ActionLink("Place a Bid!", "Create", "Bid")</a>
    <div id="Items"></div>
</div>

@section pageScripts
{
    <script type="text/javascript" src="~/Scripts/itemTable.js"></script>
}