@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    <img src="~/Images/Logo.JPG" style="width: 25%" />
    <img src="~/Images/Logo.JPG" style="width: 25%" />
    <img src="~/Images/Logo.JPG" style="width: 25%" />
</div>

